@media (min-width:1200px) {
    .container{
        max-width: 1280px !important;
        padding-left: 15px;
        padding-right: 15px;
    }
}

section{
    padding: 100px 0;
    z-index: 999;
}

.egg-shape{
    width: 100%;
    position: absolute;
    left: 0;
    top: 30;
}

.color-palette {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    position: relative;
    margin-bottom: 5px;
    background: #ffffff;
    visibility: visible;
    animation-name: fadeInUp;
}

.color-palette:hover {
    background: transparent;
}

.color-palette:before, .sox-services:before{
    border-radius: 4px;
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.color-palette:before, .sox-services:before, .color-palette:hover{
    background-image: -moz-linear-gradient(0deg, #7073ef 0%, #9f77fb 100%);
    background-image: -webkit-linear-gradient(0deg, #7073ef 0%, #9f77fb 100%);
    box-shadow: 0px 10px 20px 0px rgb(139 118 246 / 40%);
    transition: all 33s ease-in-out;
}

.media1{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.media1-body{
    -ms-flex: 1;
    flex: 1;
}

.media1-body ul li{
    font-size: 15px;
    color: #8e989f;
    margin-bottom: 5px;
}

.color-palette .media:after{
    content: "";
    background: url(./images/01.png);
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 95px;
    height: 95px;
    bottom: 10px;
}

.content1-title h3{
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.color-palette:hover .content1-title h3, 
.color-palette:hover .media1-body ul li,
.color-palette:hover ul li::marker{
    color: rgb(255, 255, 255);
    transition: all .1s ease-in-out;
}

.dots{
    content: "";
    background: url(./images/01.png);
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 80px;
    height: 80px;
    bottom: 10px;
    transition: all .1s ease-in-out;
}

ul li::marker{
    content:"\2713\0020";
    color: rgb(110, 229, 110);
    font-size: 18px;
    font-weight: 800;
}